<!DOCTYPE html>
<html lang="en" dir="ltr">
    <body>
        <main>
            <h3 class="centrar-texto">Perfil</h3>
            <div class="contenedor centrar-texto">
                <img class="usuario__img" src="../img/usuario.png" alt="usuario">
                <div class="usuario__datos">
                    <p class="usuario__campos-tit">Usuario:</p>
                    <p class="usuario__campos">{{user.name}}</p>
                </div>
                <div class="usuario__datos">
                    <p class="usuario__campos-tit">Correo:</p>
                    <p class="usuario__campos">{{user.email}}</p>
                </div>
                <div class="usuario__datos">
                    <p class="usuario__campos-tit">Contraseña:</p>
                    <p type="password" class="usuario__campos">***********</p>
                </div>
                <div class="usuario__boton">
                    <button class="boton2 btn" type="button" name="button">Cambiar contraseña</button>
                </div>
                <div class="usuario__datos">
                    <p class="usuario__campos-tit"># Localizadores:</p>
                    <p class="usuario__campos">{{user.email}}</p>
                </div>
                <div class="usuario__boton">
                    <a href="/add_loc" class="boton2 btn" type="button" name="button">Añadir localizador</a>
                </div>
            </div>
        </main>
    </body>
    <div class="separacion"></div>
    <footer class="footer fondo-negro">
        <div class="barra">
            <a class="logo">
                <h1 class="logo__nombre no-margin centrar-texto texto-blanco">Cow<span class="logo__bold">Localizer</span></h1>
            </a>
        </div>
    </footer>
</html>
