<html lang="en" dir="ltr">
  <body>
    <main>
      <h3 class="centrar-texto">Inicia Sesión</h3>
      <form class="formulario" action="/users/signin" method="POST">
        <div class="campo">
          <input class="campo__field" type="text" placeholder="Usuario" name="name">
        </div>
        <div class="campo">
          <input class="campo__field" type="password" placeholder="Contraseña" name="password">
        </div>
        <button class="boton btn">Iniciar Sesión</button>
        <a class="campo__registrar" href="signup">No tienes cuenta? Registrate aquí!</a>
      </form>
    </main>
  </body>
</html>
