<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PTI</title>
    <link rel="stylesheet" href="fonts/SinewsSansPro/stylesheet.css" type="text/css">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">

    <link rel="javascript" href="js/sticky_nav.js">
  </head>
  <body>
    <div class="fondo">
      <h3 class="fondo__texto">CowLocalizer</h3>
    </div>
    <main class="content">
      <div class="fondo-azul">
        <div class="centrar-texto contenedor-texto">
          <h2 class="content__titulo no-margin">¿Qué es CowLocalizer?</h2>
          <div class="content__proyecto">
            <p>CowLocalizer es un proyecto pensado y desarrollado para la localización de "animales" para ayudar a esos granjeros, propietarios
            de zoologicos... los cuales se preocupen por el estado de sus animales y de su localización. Queremos ayudar en el desarrollo de la
            monitorización de la vida ramadera. Queremos que este proyecto ayude a futuros desarrolladores de software y hardware a inspirarse en
            nuevos proyectos para una mejor visión de futuro.</p>

            <p>Para conseguir todas estas funcionalidades utilizaremos diferentes tecnologías para que los interessados en este proyecto puedan
            hacer un seguimiento y monitorizaje preciso de sus animales. Vamos a conseguir que los granjeros puedan controlar dónde estan sus animales
            desde cualquier sitio dónde puedan acceder a internet. Lo único que necessitan es tener tantas placas <b>LORA</b> (definidas más adelante) y un
            servidor dónde recibir todos los datos.</p>

            <p>Finalmente, atrayendo a una comunidad interessada en la tecnologia y la protección animal en el desarrollo de estas tecnologías
            nos hará reducir el coste e incrementar la innovación.</p>
          </div>
        </div>
      </div>
      <div class="fondo-rosa">
        <div class="centrar-texto contenedor-texto">
          <h2 class="content__titulo">¿Que tecnologías usamos?</h2>
          <div class="content__tecnologias">
            <div class="content__imagen">
              <img src="img/lora.png" alt="Imagen Lora">
            </div>
            <div class="content__proyecto">
              <p><b>LoRa</b> es la tecnologia que vamos a utilizar para conseguir las posiciones de los animales i enviarlas a una placa con tecnologia <b>LoRa</b>
              que estará centralizada y que enviará los datos al servidor para que los procese cómo es debido. Pero, que es exactamente la tecnologia <b>LoRa</b>?</p>

              <p><b>LoRa</b> es una tecnología inalámbrica al igual que WiFi, Bluetooth...  LoRa utiliza un tipo de modulación en radiofrecuencia, como la AM o la
                FM o el PSK; pero patentado por Semtech una importante empresa fabricante de chips de radio. Además, cuenta con grandes ventajas para proyectos de
                Internet de las Cosas o IoT (Internet of Things), con dispositivos alimentados por baterías. Cómo es el caso de este proyecto.</p>
            </div>
          </div>
          <hr>
          <div class="content__imagen">
            <img src="img/nodejs.png" alt="Imagen Lora">
          </div>
          <div class="content__proyecto">
            <p><b>NodeJS</b> es la tecnologia que vamos a usar para llevar a cabo todas las funcionalidades que vamos a programar en el backend, para el processamiento de
            datos de las placas <b>LoRa</b>, para el uso de datos de la nuestra base de datos... Esta tecnología nos permitirá conectar el backend con el frontend, para así
            conseguir tener una web fácil de implementar i usar. Que es exactamente <b>NodeJS</b>?</p>

            <p><b>NodeJS</b> es un entorno en tiempo de ejecución multiplataforma, de código abierto, para la capa del servidor (pero no limitándose a ello) basado en el lenguaje
              de programación JavaScript, asíncrono, con E/S de datos en una arquitectura orientada a eventos.</p>
          </div>
          <hr>
          <div class="content__imagen">
            <img src="img/mongodb.png" alt="Imagen Lora">
          </div>
          <div class="content__proyecto">
            <p><b>MongoDB</b> es la tecnologia que vamos a usar para guardar todos los datos para ubicar a los animales que vamos a recibir de las placas <b>LoRa</b>, tambié
              es dónde vamos a guardar los datos de los usuarios que se registren a nuestra web, para que así puedan ubicar a sus animales. Que es exactamente <b>NodeJS</b>?</p>

            <p><b>MongoDB</b> es un sistema de base de datos NoSQL, orientado a documentos y de código abierto. En lugar de guardar los datos en tablas, tal y como se hace en
              las bases de datos relacionales, MongoDB guarda estructuras de datos BSON (una especificación similar a JSON) con unesquema dinámico, haciendo que la integración de
              los datos en ciertas aplicaciones sea más fácil y rápida.</p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
