<!DOCTYPE html>
<html>
  <head>
    <title>PTI</title>

    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" href="../fonts/SinewsSansPro/stylesheet.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
    <link rel="javascript" href="../js/sticky_nav.js">
    <script src="../js/index.js"></script>
  </head>
  <body>
    <div id="map"></div>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script async
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGGctAu8L45NDJ9sz_xctvbVc6l51sARY&callback=initMap&libraries=places&v=weekly">
    </script>
  </body>
</html>
